@import '../../../../styles/mixins';
@import '../../../../styles/variables.scss';
@import '../../../../styles/functions.scss';

.search-wrapper {
  min-height: 60px;
  max-height: 64px;
  width: 100%;  
  margin-bottom: $space-md/2 ;
  box-sizing: border-box;
&__button {
  float:left;
  @include screen('mobile') {
    width: layout(1, 'mobile');
    margin: $space-xs/2 ;
  }
  @include screen('mobileHD') {
    width: layout(1, 'mobileHD');
    margin: $space-xs/2 ;
  }
  @include screen('tablet') {
    width: layout(1, 'tablet');
    margin: $space-sm/2 ;
  }
  @include screen('tabletHD') {
    width: layout(2, 'tabletHD');
    margin: $space-sm/2 ;
  }
  @include screen('desktop') {
    width: layout(1, 'desktop');
    margin: $space-md/2 ;
  }
  
  @include screen('desktopHD') {
    width: layout(1, 'desktopHD');
    margin: $space-md/2 ;
  }

 
}

&__select {
  float:left;
  @include screen('mobile') {
    width: layout(5, 'mobile');
    margin: $space-xs/2 ;
    margin-left: 0;
  }
  @include screen('mobileHD') {
    width: layout(5, 'mobileHD');
    margin: $space-xs/2 ;
    margin-left: 0;
  }
  @include screen('tablet') {
    width: layout(5, 'tablet');
    margin: $space-sm/2 ;
    margin-left: 0;
  }
  @include screen('tabletHD') {
    width: layout(4, 'tabletHD');
    margin: $space-sm/2 ;
    margin-left: 0;
  }
  @include screen('desktop') {
    width: layout(4, 'desktop');
    margin: $space-md/2 ;
    margin-left: 35%;
  }
  
  @include screen('desktopHD') {
    width: layout(4, 'desktopHD');
    margin: $space-md/2 ;
    margin-left: 33%;
  }
}

  @include screen('mobile') {
    width: layout(6, 'mobile');
   
  }
  @include screen('mobileHD') {
    width: layout(6, 'mobileHD');
   
  }
  @include screen('tablet') {
    width: layout(6, 'tablet');

  }
  @include screen('tabletHD') {
    width: layout(6, 'tabletHD');

  }
  @include screen('desktop') {
    width: layout(12, 'desktop');

  }
  
  @include screen('desktopHD') {
    width: layout(12, 'desktopHD');
   
  }
}