@import '../../../../styles/mixins';
@import '../../../../styles/variables.scss';
@import '../../../../styles/functions.scss';

.button {
  margin: 0 auto;

  &--primary-xxs {
    @include button(primary-xxs);
  }
  &--primary-xs {
    @include button(primary-xs);
  }
  &--primary-sm {
    @include button(primary-sm);
  }
  &--primary-md {
    @include button(primary-md);
  }
  &--primary-lg {
    @include button(primary-lg);
  }
  &--primary-xl {
    @include button(primary-xl);
  }
  &--primary-xxl {
    @include button(primary-xxl);
  }
  
}
