@import '../../../../styles/mixins';
@import '../../../../styles/variables.scss';
@import '../../../../styles/functions.scss';

.patient-wrapper {
  margin-bottom: $space-xl ;
  @include screen('mobile') {
    margin-bottom: $space-sm ;
    
  }
  @include screen('mobileHD') {
    margin-bottom: $space-md ;
  }
  @include screen('tablet') {
    margin-bottom: $space-lg ;
  }
  @include screen('tabletHD') {
    margin-bottom: $space-lg ;
  }
  @include screen('desktop') {
    margin-bottom: $space-xl ;
  }
  
  @include screen('desktopHD') {
    margin-bottom: $space-xl ;
  }
}