@import '../../../../styles/mixins';
@import '../../../../styles/variables.scss';
@import '../../../../styles/functions.scss';

.header {
  min-height: 60px;
  line-height: 60px;
  max-height: 64px;
  width: 100%;  
  background: $secundary;
  margin-bottom: $space-md/2 ;


  @include screen('mobile') {
    width: layout(6, 'mobile');
    padding: $space-xs/2;
    margin-bottom: $space-xs/2 ;
  }
  @include screen('mobileHD') {
    width: layout(6, 'mobileHD');
    padding:$space-xs/2;
    margin-bottom: $space-xs/2 ;
  }
  @include screen('tablet') {
    width: layout(6, 'tablet');
    padding:$space-sm/2;
    margin-bottom: $space-sm/2 ;
  }
  @include screen('tabletHD') {
    width: layout(6, 'tabletHD');
    padding:$space-sm/2;
    margin-bottom: $space-sm/2 ;
  }
  @include screen('desktop') {
    width: layout(12, 'desktop');
    padding:$space-md/2;
    margin-bottom: $space-md/2 ;
  }
  
  @include screen('desktopHD') {
    width: layout(12, 'desktopHD');
    padding:$space-lg/2;
    margin-bottom: $space-lg/2 ;
  }
  & h1 {
    color: #fff!important;
    margin-left:$space-lg ;
  }
  
}