@import '../../../../styles/mixins';
@import '../../../../styles/variables.scss';
@import '../../../../styles/functions.scss';


h1, h3, h4 {
  margin: 0;
}
.title {
  margin: 0;
  width: auto;
  &--font-small {
    font-size: map-get($font-size, small);
  }

  &--font-normal {
    font-size: map-get($font-size, normal);
  }
  &--font-caption {
    font-size: map-get($font-size, caption);
  }

  &--font-medium {
    font-size: map-get($font-size, medium);
  }


  &--font-large {
    font-size: map-get($font-size, large);

    @media(max-width: $bkp-lg) {
      font-size: map-get($font-size, medium);
     };
    @media(max-width: $bkp-md) {
      font-size: map-get($font-size, caption);
     };
     @media(max-width: $bkp-sm) {
      font-size: map-get($font-size, normal);
     };
     @media(max-width: $bkp-xs) {
      font-size: map-get($font-size, small);
     };

  }

  &--font-heading3 {
    font-size: map-get($font-size, heading3);
  }

  &--font-heading2 {
    font-size: map-get($font-size, heading2);
  }

  &--font-heading1 {
    font-size: map-get($font-size, heading1);
    
    @media(max-width: $bkp-lg) {
      font-size: map-get($font-size, heading3);
     };
    @media(max-width: $bkp-md) {
      font-size: map-get($font-size, large);
     };
     @media(max-width: $bkp-sm) {
      font-size: map-get($font-size, medium);
     };
     @media(max-width: $bkp-xs) {
      font-size: map-get($font-size, caption);
     };
  }

  &--normal {
    font-weight: normal;
  }

  &--bold {
    font-weight: bold;
  }

  &--right {
    text-align: right;
  }

  &--left {
    text-align: left;
  }

  &--center {
    text-align: center;
  }

  &--dark {
    color: map-get($font-color , dark);
  }

  &--light {
    color: map-get($font-color , light);
  }

  &--monserrat {
    font-family: map-get($font-family , Monserrat);
  }


  &--openSans {
    font-family: map-get($font-family , OpenSans);
  }
}
