
@import 'variables';
@import 'mixins';
@import 'functions';
body {
  background-color: map-get($body-color, light);
}
.App {
  
  @include screen('mobile') {
    padding: $space-xs/2;
  }
  @include screen('mobileHD') {
    padding:$space-xs/2;
  }
  @include screen('tablet') {
    padding:$space-sm/2;
  }
  @include screen('tabletHD') {
    padding:$space-sm/2;
  }
  @include screen('desktop') {
    padding:$space-md/2;
  }
  
  @include screen('desktopHD') {
    padding:$space-lg/2;
  }
}
.list-wrapper {
  background-color: #fff;
  border-radius: 10px;
  width:90%;
  margin: auto;
  padding-top: $space-lg;
  @media (max-width: $bkp-lg) {
    width:100%;
  }
}

.container {
  margin: auto;
  width:88%;
  display: flex;

  @media (max-width: $bkp-lg) {
    width:100%;
    margin: 0;
  }
}

.responsive-table {
  width: 100%;
  margin-bottom: 1.5em;
  border-spacing: 0;
  
  @media (min-width: $bkp-xxs) {
    font-size: .9em; 
  }
  
  @media (min-width: $bkp-xs) {
    font-size: 1em; 
  }
  
  thead {
    // Accessibly hide <thead> on narrow viewports
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    padding: 0;
    border: 0;
    height: 1px; 
    width: 1px; 
    overflow: hidden;
    
    @media (min-width: $bkp-xs) {
      // Unhide <thead> on wide viewports
      position: relative;
      clip: auto;
      height: auto;
      width: auto;
      overflow: auto;
    }
    
    th {
      color: black;
      font-weight: bold;
      font-size: map-get($font-size, normal);
       text-align: center; 
       border-bottom: solid 1px #ccc;

       @include screen('mobileHD') {
        font-size: map-get($font-size, small);
      }
      
    }
  }
  
  // Set these items to display: block for narrow viewports
  tbody,
  tr,
  th,
  td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }
  
  tr {   
    @media (min-width: $bkp-xs) {
      display: table-row; 
    }
  }
  
  th,
  td {
    padding: .5em;
    vertical-align: middle;
    text-align: center; 
    
    @media (min-width: $bkp-xxs) {
      padding: .75em .5em; 
    }
    
    @media (min-width: $bkp-xs) {
      // Undo display: block 
      display: table-cell;
      padding: .5em;
    }
    
    @media (min-width: $bkp-sm) {
      padding: .75em .5em; 
    }
    
    @media (min-width: $bkp-md) {
      padding: .75em; 
    }
  }
  

  
 
  
  tbody {
    @media (min-width: $bkp-xs) {
      display: table-row-group; 
    }
    
    tr {
      margin-bottom: 1em;
      height: 50px;
      @media (min-width: $bkp-xs) {
        display: table-row;
        border-width: 0;
      }
      
      &:last-of-type {
        margin-bottom: 0; 
      }
      
      &:nth-of-type(even) {
        @media (min-width: $bkp-xs) {
          background-color: rgba(94,93,82,.1);
        }
      }
    }
    
    
    td {
      @media (max-width: $bkp-sm) {
        font-size: map-get($font-size, small);
        text-align: center; 
      }
   
    }
    
   
    
   /* td[data-title]:before {
      content: attr(data-title);
    } */
  }
}

.loader {
  margin: 20px 20px;
  border: 5px solid white; /* Light grey */
  border-top: 5px solid $primary; /* Blue */
  border-radius: 50%;
  width: 75px;
  height: 75px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 45%;
  top:20%;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.is-mobile-xs {
  width: 100%
}

.is-mobile-hd {
  width: 100%
}
.user-card {
  width: 90%;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: $space-xs;
  box-sizing: border-box;
  margin-top:  $space-sm;
  margin-bottom: $space-sm;
  margin-right: auto;
  margin-left: auto;
  border: solid 1px map-get($grays-color,lightest);



  &__row {
    height: auto;
  border-bottom: solid 1px map-get($grays-color,lightest);
  box-sizing: border-box;
  padding-top: $space-md;
  }
}