@import 'variables';
@import 'mixins';



@function layout($cols, $viewport ) {

  @if $viewport=='desktopHD' {
    @return 
    calc(((100% /12) * #{$cols}) - 32px);
  }
  
  @if $viewport=='desktop' {
    @return 
    calc(((100% /12) * #{$cols}) - 24px);
  }

  @if $viewport=='tabletHD' {
    @return 
    calc(((100% /6) * #{$cols}) - 16px);
  }
  @if $viewport=='tablet' {
    @return 
    calc(((100% /6) * #{$cols}) - 16px);
    
  }
  @if $viewport=='mobileHD' {
    @return 
    calc(((100% /6) * #{$cols}) - 12px);
  }
  @if $viewport=='mobile' {
    @return 
    calc(((100% /6) * #{$cols}) - 12px);
  }
}


