@import 'variables';

$space-xxs: 8px;
$space-xs: 12px;
$space-sm: 16px;
$space-md: 24px;
$space-lg: 32px;
$space-xl: 64px;
$space-xxl: 128px;


@mixin button($type) {
  box-sizing: border-box;
  cursor: pointer;
  outline: unset;
  padding: 10px 15px;
  text-align: center;
  margin-top: 0;
  font-size:  map-get($font-size, caption)!important;
  text-shadow: 1px 1px 0 rgba(0,0,0,.1);
  transition: all .4s ease;
  border: none;
    
  &:hover {
    transition:  .3s ease;
  }

  //'default-rectangle-primary-small'
  @if $type == 'primary-xxs'  {
    background-color: map-get($base-color, primary) !important;
    border-radius: map-get($border-radius, small) !important;
    color:  #fff !important;
    font-size: map-get($font-size, small)!important;
    padding: $space-xxs $space-xxs !important ; 

    &:hover {
      background-color: map-get($primary-palette, darken-20)!important; 
      color: #fff !important;
    }

    &:active {
      background-color: map-get($primary-palette, lighten-10)!important;  
    }
    &:disabled {
      border: 1px solid #999999!important;
      background-color: #cccccc!important;
      color: #666666!important;
      &:hover {
        background-color:unset; 
        box-shadow: unset;
      }
    }
   }


   @if $type == 'primary-xs'  {
    background-color: map-get($base-color, primary) !important;
    border-radius: map-get($border-radius, small) !important;
    color:  #fff !important;
    font-size: map-get($font-size, normal)!important;
    padding:$space-xxs $space-xs !important ;

    &:hover {
      background-color: map-get($primary-palette, darken-10)!important; 
      box-shadow: 0 -3px 0 rgba(0,0,0,.2) inset;
      color: #fff !important;
    }

    &:active {
      background-color: map-get($primary-palette, lighten-10)!important;  
    }
    &:disabled {
      border: 1px solid #999999!important;
      background-color: #cccccc!important;
      color: #666666!important;
      &:hover {
        background-color:unset; 
        box-shadow: unset;
      }
    }
   }

   @if $type == 'primary-sm'  {
    background-color: map-get($base-color, primary) !important;
    border-radius: map-get($border-radius, small) !important;
    color:  #fff !important;
    font-size: map-get($font-size, normal)!important;
    padding:$space-xs $space-sm !important ;

    &:hover {
      background-color: map-get($primary-palette, darken-10)!important; 
      box-shadow: 0 -3px 0 rgba(0,0,0,.2) inset;
      color: #fff !important;
    }

    &:active {
      background-color: map-get($primary-palette, lighten-10)!important;  
    }
    &:disabled {
      border: 1px solid #999999!important;
      background-color: #cccccc!important;
      color: #666666!important;
      &:hover {
        background-color:unset; 
        box-shadow: unset;
      }
    }
   }

   @if $type == 'primary-md'  {
    background-color: map-get($base-color, primary) !important;
    border-radius: map-get($border-radius, small) !important;
    color:  #fff !important;
    font-size: map-get($font-size, normal)!important;
    padding:$space-xs $space-md !important ;

    &:hover {
      background-color: map-get($primary-palette, darken-10)!important; 
      box-shadow: 0 -3px 0 rgba(0,0,0,.2) inset;
      color: #fff !important;
    }

    &:active {
      background-color: map-get($primary-palette, lighten-10)!important;  
    }
    &:disabled {
      border: 1px solid #999999!important;
      background-color: #cccccc!important;
      color: #666666!important;
      &:hover {
        background-color:unset; 
        box-shadow: unset;
      }
    }
   }

   @if $type == 'primary-lg'  {
    background-color: map-get($base-color, primary) !important;
    border-radius: map-get($border-radius, small) !important;
    color:  #fff !important;
    font-size: map-get($font-size, normal)!important;
    padding:$space-xs $space-lg !important ;

    &:hover {
      background-color: map-get($primary-palette, darken-10)!important; 
      box-shadow: 0 -3px 0 rgba(0,0,0,.2) inset;
      color: #fff !important;
    }

    &:active {
      background-color: map-get($primary-palette, lighten-10)!important;  
    }
    &:disabled {
      border: 1px solid #999999!important;
      background-color: #cccccc!important;
      color: #666666!important;
      &:hover {
        background-color:unset; 
        box-shadow: unset;
      }
    }
   }

   @if $type == 'primary-xl'  {
    background-color: map-get($base-color, primary) !important;
    border-radius: map-get($border-radius, small) !important;
    color:  #fff !important;
    font-size: map-get($font-size, normal)!important;
    padding:$space-xs $space-xl !important ;

    &:hover {
      background-color: map-get($primary-palette, darken-10)!important; 
      box-shadow: 0 -3px 0 rgba(0,0,0,.2) inset;
      color: #fff !important;
    }

    &:active {
      background-color: map-get($primary-palette, lighten-10)!important;  
    }
    &:disabled {
      border: 1px solid #999999!important;
      background-color: #cccccc!important;
      color: #666666!important;
      &:hover {
        background-color:unset; 
        box-shadow: unset;
      }
    }
   }


   @if $type == 'primary-xxl'  {
    background-color: map-get($base-color, primary) !important;
    border-radius: map-get($border-radius, small) !important;
    color:  #fff !important;
    font-size: map-get($font-size, normal)!important;
    padding:$space-xs $space-xxl !important ;

    &:hover {
      background-color: map-get($primary-palette, darken-10)!important; 
      box-shadow: 0 -3px 0 rgba(0,0,0,.2) inset;
      color: #fff !important;
    }

    &:active {
      background-color: map-get($primary-palette, lighten-10)!important;  
    }
    & :disabled {
      border: 1px solid #999999!important;
      background-color: #cccccc!important;
      color: #666666!important;
      &:hover {
        background-color:unset; 
        box-shadow: unset;
      }
    }

}
}


@mixin screen($size) {

  @if $size == desktopHD {
      @media  (min-width: #{$bkp-xl}) and (max-width: #{$bkp-xxl}){
       @content;
    }
  }
  @else if $size == desktop {
      @media  (min-width: #{$bkp-lg}) and (max-width: #{$bkp-xl}){
       @content;
    }
  }
  @else if $size == tabletHD {
    @media  (min-width: #{$bkp-md}) and (max-width: #{$bkp-lg}){
      @content;
    }
  }
  @else if $size == tablet {
      @media  (min-width: #{$bkp-sm}) and (max-width: #{$bkp-md}){
      @content;
    }
  }
  @else if $size == mobileHD {
  @media  (min-width: #{$bkp-xs}) and (max-width: #{$bkp-sm}){
      @content;
    }
  }
  @else if $size == mobile {
    @media  (min-width: #{$bkp-xxs}) and (max-width: #{$bkp-xs}){
      @content;
    }
  }
  @else {
    @media only screen and #{$size} {
      @content;
    }
  }
}