@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

// Breakpoints
$bkp-xxs: 320px;
$bkp-xs: 414px;
$bkp-sm: 600px;
$bkp-md: 768px;
$bkp-lg: 1024px;
$bkp-xl: 1280px;
$bkp-xxl: 1440px;

@font-face {
  font-family: 'basic-design-system';
  src: url('../assets/font/basic-design-system.eot?35697585');
  src: url('../assets/font/basic-design-system.eot?35697585#iefix') format('embedded-opentype'),
       url('../assets/font/basic-design-system.woff2?35697585') format('woff2'),
       url('../assets/font/basic-design-system.woff?35697585') format('woff'),
       url('../assets/font/basic-design-system.ttf?35697585') format('truetype'),
       url('../assets/font/basic-design-system.svg?35697585#basic-design-system') format('svg');
  font-weight: normal;
  font-style: normal;
}

//Brand Color
$primary: #1ba94c;
$secundary: #39424e;
//$tertiary: #27A94B
$base-color: (
  primary: #1ba94c,
  secundary: #39424e
  //tertiary: #27A94B
);

$primary-palette: (
  darken-20:  darken( $primary, 20% ),
  darken-10:  darken( $primary, 10% ),
  primary:      $primary,
  lighten-10:  lighten( $primary, 10% ),
  lighten-20:  lighten( $primary, 20% )
);

$secundary-palette: (
 
  darken-20:  darken( $secundary, 20% ),
  darken-10:  darken( $secundary, 10% ),
  secundary:      $secundary,
  lighten-10:  lighten( $secundary, 10% ),
  lighten-20:  lighten($secundary, 20% )
);

$grays-color: (
 lightest: #E9EAEC,
 light: #C9CBD0,
 neutral: #A1A4AB,
 dark: #646972,
 darkest: #3F444C
);

//page body color 
$body-color: (
  dark: #000,
  light: #f3f7f7
);



$font-size: (
  small: 12px,
  normal: 14px,
  caption: 18px,
  medium: 20px,
  large: 24px,
  heading3: 30px,
  heading2: 60px,
  heading1: 80px
);

$font-family: (
  Montserrat: 'Montserrat',
  OpenSans: 'Open Sans'
);

$font-color: (
  dark: #000,
  light: #fff,
  input: #8c8c8c,
  link: #333
);

// Spacing
$space-xxs: 8px;
$space-xs: 12px;
$space-sm: 16px;
$space-md: 24px;
$space-lg: 32px;
$space-xl: 64px;
$space-xxl: 128px;

$zindex: (
  default:  0,
  modal-overlay:  350,
  modal: 400,
  tip: 10
);

$border-radius: (
  none: 0,
  small: 5px,
  medium: 10px,
  large: 20px,
  xl: 30px,
  full: 50%
);

$shadows: (
  small: -1px 2px 7px 0 rgba(0, 0, 0, .2),
  medium: -1px 2px 7px 0 rgba(0, 0, 0, .2),
  large: -1px 2px 7px 0 rgba(0, 0, 0, .2)
);

