@import '../../../../styles/mixins';
@import '../../../../styles/variables.scss';
@import '../../../../styles/functions.scss';
.select {
  background: #ffffff;
   overflow: hidden;
   border: 1px solid #cbcbcb;
   border-radius: 3px;
   box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.07);
   width: 100%;
   height: 35px;
   box-sizing: border-box;
   position: relative;

   &:focus,
   &:hover {
       box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
   }

   &:after {
    content: '▾';
    position: absolute;
    top: -5px;
    right: 8px;
    z-index: 1;
    color: #39424e;
    line-height: 40px;
    font-size: 26px;
    font-weight: bold;

       .ie & {
           display: none;
       }
   }
}

select {
   position: relative;
   background: transparent;
   background-image: none;
   display: block;
   width: 100%;
   outline: none;
   color: #888888;
   cursor: pointer;
   z-index: 2;
   border: none;
   padding: 10px 10px 10px 5px;
   text-overflow: '';
   text-indent: 5px;
   appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;


   &[multiple=multiple] {
       height: auto;
       border: 1px solid #cbcbcb;
       border-radius: 3px;
       box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.07);

  

       &:hover {
           border-color: #cccccc;
           box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
       }
   }

   option[disabled] {
       color: #eeeeee;
       text-shadow: none;
       border: none;
   }
}

select:-moz-focusring {
   color: transparent;
   text-shadow: 0 0 0 #888888;
}

select::-ms-expand {
   display: none;
}

